.news-slider {
  width: 280px;
  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  .news-slider__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .news-slider__item {
    padding: var(--el-main-indent);
    min-height: 160px;
    box-sizing: border-box;
    cursor: pointer;
  
    &::after {
      color: var(--cl-main);
      transition: all var(--el-transition);
    }
  
    &:hover::after {
      opacity: 0.5;
    }
  }

  .news-slider__pagination {
    position: relative;
  }

  .swiper-pagination-bullet {
    width: 20px;
    height: 2px;
    box-sizing: border-box;
    opacity: 1;
    background: var(--cl-main);
    opacity: 0.3;
    border-radius: 0;
  }

  .swiper-pagination-bullet-active {
    background: var(--cl-accent);
    opacity: 1;
  }
}



