.order-form label {
  display: block;
  text-align: center;
}

.order-form .wpcf7-text {
  @include form-field;
}

.order-form .wpcf7-select {
  @include form-field;
  text-align-last: center;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 71%;
  background-position-y: 7px;
}

.order-form .cf7md-item {
  margin-bottom: var(--el-secondary-indent);
}

.order-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-form__column-wrapper {
  margin: 0 calc(-1 * var(--el-main-indent));
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
}

.order-form__column-item {
  flex: 1 1 30%;
  min-width: calc(300px - 2 * var(--el-secondary-indent));
  padding: var(--el-main-indent);
}

.order-form__column-item p {
  margin: 0;
}

.order-form .wpcf7-list-item input[type="checkbox"] {
  appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.order-form .wpcf7-list-item-label {
  margin-top: 0;
  margin-bottom: var(--el-main-indent);
  padding-left: 36px;
  display: block;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.order-form .wpcf7-list-item-label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 20px;
  height: 20px;
  background: var(--cl-bright);
  border-radius: 4px;
}

.order-form .wpcf7-list-item input[type="checkbox"]:checked ~ .wpcf7-list-item-label::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 4px;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid var(--cl-contrast);
  border-left: 2px solid var(--cl-contrast);
  transform: translateY(calc(-50% - 2px)) rotate(-45deg) ;
  background-image: url("img/icon-checked.svg");
  background-repeat: no-repeat;
}

.order-form .wpcf7-submit {
  background: var(--cl-accent);
  padding: var(--el-main-indent) var(--el-secondary-indent);
  border-radius: 4px;
  cursor: pointer;
  color: var(--cl-contrast);
  border: none;
  box-sizing: border-box;
  transition: box-shadow var(--el-transition);
  &:hover{
    box-shadow: 0 0 0 2px var(--cl-secondary), 0 0 0 4px var(--cl-accent);
  }
}

.order-form__submit-wrapper {
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--el-main-indent);
  .wpcf7-spinner {
    display: none;
  }
}

.order-form__text {
  margin-top: 0;
  margin-bottom: var(--el-main-indent);
  text-align: center;
  opacity: 0.3;
}
