.wp-block-separator {
  margin: 20px 0;
  height: 28px;
  background-image: url("../../img/separator.svg");
  background-size: 164px 25px;
  background-repeat: no-repeat;
  background-position: center;
}