.wysiwyg-wrapper {
  h2 {
    @include main-title;
  }
  h3 {
    @include subtitle
  }
  h4 {
    margin-top: 0;
    margin-bottom: var(--el-main-indent);
    font-weight: var(--fw-secondary);
  }
  p {
    @include paragraph;
  }
  ol,
  ul {
    padding-left: var(--el-secondary-indent);
    margin-top: 0;
    margin-bottom: var(--el-main-indent);
  }
  ul {
    list-style: none;
  }
  li {
    position: relative;
  }
  ul > li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(-1 * var(--el-secondary-indent));
    transform: translateY(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--cl-bright);
  }
}
