@mixin main-title {
  padding: 0px 16px;
  margin: 0 auto var(--el-secondary-indent);
  max-width: fit-content;
  font-size: var(--fz-main-header);
  font-weight: var(--fw-main);
  line-height: var(--lh-main);
  text-align: center;
  text-transform: uppercase;
  color: var(--cl-accent-dark);
  background: var(--cl-highlight);
  box-shadow: var(--el-shadow);
  box-sizing: border-box;
}

@mixin subtitle {
  margin-top: 0;
  margin-bottom: var(--el-main-indent);
  font-size: var(--fz-main-header);
  font-weight: var(--fw-main);
  line-height: var(--lh-main);
  color: var(--cl-accent-dark);
}

@mixin paragraph {
  margin-top: 0;
  margin-bottom: var(--el-main-indent);
}

@mixin form-field {
  padding: var(--el-main-indent);
  width: 100%;
  min-height: 37px;
  border-radius: 4px;
  background: var(--cl-contrast);
  box-shadow: 0 0 0 1px var(--cl-accent);
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: box-shadow var(--el-transition);
  text-align: center;
  &:hover {
    border-color: var(--cl-accent);
    box-shadow: 0 0 0 2px var(--cl-accent);
  }
  &::placeholder {
    opacity: 0.4;
  }
}